
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'school/style.css' %}" />

    <title>Sparkswood:Classes</title>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand offset-md-1" style="color:#f00;font-family: 'Cinzel Decorative';font-weight:600;font-size: 25px;" href="#">Sparkswood</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
     <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <!-- Links -->
    <ul class="navbar-nav offset-md-1">
    <li class="nav-item">
      <a class="nav-link" href="{%url 'school:index'%}">Home</a>
    </li>
    <li class="nav-item active redline">
      <a class="nav-link" href="{%url 'school:classes'%}">Classes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{%url 'school:subjects'%}">Subjects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{%url 'school:fees'%}">Fees</a>
    </li>
         <form class="form-inline" style="position:absolute;right:10px;" method="post" action="{%url 'school:logout' %}">
             {% csrf_token%}
             <button class="btn btn-primary" type="submit">Logout</button>
            </form>
    </ul>

  </div>
</nav>
<!-- navigation ends here -->

<div class="container-fluid text-center">
</div>
<div class="container" style="padding:20px;">
  <h2>Add Class:</h2>

  <form action="{% url 'school:addClass'%}" method="post">
      {% csrf_token %}
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter subject name" name="name" required="">
    </div>
    <div class="form-group">
      <label for="des">Description:</label>
      <input type="text" class="form-control" id="des" placeholder="Enter Description" name="desc" required="">
    </div>

    <button type="submit" class="btn btn-primary">Add Class</button>
  </form>

    <!-- <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> -->

    <form id="new_user_form" action="" method="post" style="width:400px;align:center;margin:auto;">
      {% csrf_token %}
        <h3>Ajax form submission</h3>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="testName" placeholder="Enter subject name" name="testName" required="">
    </div>
    <div class="form-group">
      <label for="testDesc">Description:</label>
      <input type="text" class="form-control" id="testDesc" placeholder="Enter Description" name="testDesc" required="">
    </div>

    <button type="submit" id="testBtn" class="btn btn-primary">Add Class</button>
  </form>
<script type="text/javascript">

    $(document).on('submit','#new_user_form',function(e){
            e.preventDefault();
            $.ajax({

                    type:'POST',
                    url:'addClass',
                    data:{

                        name:$('#testName').val(),
                        desc:$('#testDesc').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(tableData){

                       // alert("Insert Successfull");
                        //alert(document.getElementById('myTable'));
                    //alert(tableData.id)
                    //$("#myTable").empty();
                    $('form')[1].reset();
                    $("#myTable").append("<tr> <td> "+ tableData.class_name +"</td> <td> " + tableData.class_desc + "</td>  <td> <form action = " + tableData.id + "/deleteClass method = post  ><input type = 'hidden' value = " + tableData.id + " name='class_id' /> <input class ='btn btn-primary' type='submit' value='Delete'> </ form> </ td> </ tr>");

                   }
            });
    });

</script>
    <!-- <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> -->
</div>
<br/><br/>
<div class="container">
  <h2>Classes</h2>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Class Name</th>
        <th>Description</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody id="myTable">

    {% if class_list %}
     {% for c in class_list %}
      <tr>
        <td>{{c.class_name}}</td>
        <td>{{c.class_desc}}</td>
         <td>
          <form action="{%url 'school:deleteClass' c.id%}" method="post">
                  {% csrf_token %}



              <input type="hidden" value="{{ c.id}}" name="class_id"/>
              <input class="btn btn-primary" type="submit" value="Delete" >


              </form>
          </td>
      </tr>

    {% endfor %}

    {% endif %}
    </tbody>
  </table>
</div>


</body>
</html>
